# Base de datos (Supabase -> Project Settings > Database > Connection string > URI)
# Usá la "Connection pooling" (puerto 6543) para DATABASE_URL en producción
DATABASE_URL="postgresql://postgres:[PASSWORD]@[HOST]:6543/postgres?pgbouncer=true"
# Y la conexión directa (puerto 5432) para hacer migraciones
DIRECT_URL="postgresql://postgres:[PASSWORD]@[HOST]:5432/postgres"

# JWT
JWT_SECRET="cambiar-por-un-secreto-largo-y-random"
JWT_EXPIRES_IN="7d"

# Servidor
PORT=4000
NODE_ENV=development

# CORS: URL del frontend (Vite dev server o dominio de producción)
FRONTEND_URL="http://localhost:5173"

# Supabase Storage (para las fotos de los reportes)
SUPABASE_URL="https://[PROJECT_REF].supabase.co"
SUPABASE_SERVICE_ROLE_KEY="tu-service-role-key"
SUPABASE_BUCKET="patitas-fotos"






DATABASE_URL="postgresql://postgres.ccoolaouvlkbczobtury:CEPijKu4CVHHmH7B@aws-0-us-east-2.pooler.supabase.com:6543/postgres"
DIRECT_URL="postgresql://postgres.ccoolaouvlkbczobtury:CEPijKu4CVHHmH7B@aws-0-us-east-2.pooler.supabase.com:5432/postgres"
JWT_SECRET="68V6GPNLMr2OPYHZsA3IHvjdcSak6epwDtcB1JLgxXuW+EDB2K6IqbgwIIDFUSH/k01pdtqg2s+i+6XH0z3uGA=="
JWT_EXPIRES_IN="7d"

PORT=4000
NODE_ENV=production

FRONTEND_URL="https://www.patitastucuman.com"

SUPABASE_URL="https://ccoolaouvlkbczobtury.supabase.co"
SUPABASE_SERVICE_ROLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjb29sYW91dmxrYmN6b2J0dXJ5Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc4ODYzMDUwNSwiZXhwIjoyMTA0MjA2NTA1fQ.3i22DoHfZDlEfNMn7HLZlsYbZR9g-GseNMO3_5rFUzU"
SUPABASE_BUCKET="patitas-fotos"
GOOGLE_CLIENT_ID=656706816521-9nri335cgvn70t8k0mppohse80ta9qh0.apps.googleusercontent.com




FRONTEND
VITE_API_URL=http://localhost:4000
VITE_GOOGLE_CLIENT_ID=656706816521-9nri335cgvn70t8k0mppohse80ta9qh0.apps.googleusercontent.com
VITE_SUPABASE_URL=https://ccoolaouvlkbczobtury.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNjb29sYW91dmxrYmN6b2J0dXJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODg2MzA1MDUsImV4cCI6MjEwNDIwNjUwNX0.vJ0Q3k0HKWmU0rxZ-TMwVmSUjsD-Wq_iSyeUo8qbMV4